{% extends 'dashboard/base.html' %} {% block content %}
{% if user.is_courseRep %}
<section
  class="mbr-section mbr-section--relative mbr-section--fixed-size mbr-after-navbar"
  id="pricing-table1-d"
  data-rv-view="59"
  style="background-color: rgb(163, 143, 132)"
>
  <div
    class="mbr-section__container mbr-section__container--std-top-padding container"
    style="padding-top: 31px; margin-bottom: -31px"
  >
    <div class="row">
      <div
        class="mbr-plan col-xs-12 mbr-plan--warning mbr-plan--first col-md-12 col-sm-12"
      >
        <div class="mbr-plan__box">
          <div class="mbr-plan__header">
            <div
              class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg"
            >
              <h3 class="">Delete Upcoming test</h3>
            </div>
          </div>
          <div class="mbr-plan__details">
            <p>
              <strong>
              Are you sure you want to delete "{{lU}}"??
                <form action="{% url 'delete_upcoming_test' lU.id %}" method="POST">
                  {%csrf_token%} 
                  

                ...  <input class="btn btn-danger" type="submit" value="Delete">
                </form> </strong
              >&nbsp;
            </p>
          </div>
          <div class="mbr-plan__buttons">
            <div class="mbr-buttons mbr-buttons--center">
              <a
                href="{% url 'dashboard' %}"
                class="mbr-buttons__btn btn btn-wrap btn-xs-lg btn-info"
                >GO BACK TO DASHBOARD</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% else %}
you are not supposed to be here and you knoww it
{% endif %}
{% endblock content %}